<h1 class="ui header">Artists</h1>


  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_path(artist) %></li>
  <% end %>
  <hr />
  <%= link_to 'Create a new Artist', new_artist_path %>
  

