<h1 class="ui header">Billboards</h1>


  <% @bboards.each do |bboard| %>
    <li><%= link_to bboard.name, bboard_path(bboard) %><%="  #{bboard.genre}"%>
    </li>
  <% end %>
  <hr />
  <%= link_to 'Create a new Billboard', new_bboard_path %> |
  <%= link_to 'Veiw Artists', artists_path %>
  
  

